<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/geek_logo_image"
        android:label="@string/app_name"
        android:roundIcon="@drawable/geek_logo_image"
        android:supportsRtl="true"
        android:theme="@style/Theme.GeekGenius"
        tools:targetApi="31">
        <activity
            android:name=".ArtikelPage"
            android:exported="false" />
        <activity
            android:name=".EnsiklopediaPage"
            android:exported="false" />
        <activity
            android:name=".HasilTesPage"
            android:exported="false" />
        <activity
            android:name=".LandingTesPage"
            android:exported="false" />
        <activity
            android:name=".InputTesPage"
            android:exported="false" />
        <activity
            android:name=".DetailKampusPage"
            android:exported="false" />
        <activity
            android:name=".InfoKampusPage"
            android:exported="false" />
        <activity
            android:name=".RegisterPage"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="false" />
        <activity
            android:name=".WellcomePage"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DashboardPage"
            android:exported="false" />
        <activity
            android:name="com.geek.app.ui.detail_article.DetailArticleActivity"
            android:exported="false" />
        <activity
            android:name="com.geek.app.ui.main.MainActivity"
            android:exported="false" />
    </application>

</manifest>